In [1]:
#pip install openpyxl

In [2]:
import pandas as pd

In [3]:
xls = pd.ExcelFile('Supply chain logistics problem.xlsx')

In [4]:
sheets = xls.sheet_names
dfs = [xls.parse(sheet) for sheet in sheets]

In [5]:
dfs

[          Order ID Order Date Origin Port Carrier  TPT Service Level  \
 0     1.447296e+09 2013-05-26      PORT09   V44_3    1           CRF
 1     1.447158e+09 2013-05-26      PORT09   V44_3    1           CRF
 2     1.447139e+09 2013-05-26      PORT09   V44_3    1           CRF
 3     1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
 4     1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
 ...            ...        ...         ...     ...  ...           ...
 9210  1.447305e+09 2013-05-26      PORT04  V444_1    1           DTD
 9211  1.447319e+09 2013-05-26      PORT04  V444_1    1           DTD
 9212  1.447322e+09 2013-05-26      PORT04  V444_1    1           DTD
 9213  1.447145e+09 2013-05-26      PORT04  V444_1    1           DTD
 9214  1.447328e+09 2013-05-26      PORT04  V444_1    1           DTD

       Ship ahead day count  Ship Late Day count           Customer  \
 0                        3                    0          V55555_53
 1                        3                    0          V55555_53
 2                        3                    0          V55555_53
 3                        3                    0          V55555_53
 4                        3                    0          V55555_53
 ...                    ...                  ...                ...
 9210                     5                    0  V55555555555555_8
 9211                     5                    0  V55555555555555_8
 9212                     5                    0  V55555555555555_8
 9213                     5                    0  V55555555555555_8
 9214                     5                    0  V55555555555555_8

       Product ID Plant Code Destination Port  Unit quantity     Weight
 0        1700106    PLANT16           PORT09            808  14.300000
 1        1700106    PLANT16           PORT09           3188  87.940000
 2        1700106    PLANT16           PORT09           2331  61.200000
 3        1700106    PLANT16           PORT09            847  16.160000
 4        1700106    PLANT16           PORT09           2163  52.340000
 ...          ...        ...              ...            ...        ...
 9210     1683388    PLANT03           PORT09            339   2.354118
 9211     1683388    PLANT03           PORT09            339   2.354118
 9212     1683388    PLANT03           PORT09            245   0.294265
 9213     1683430    PLANT03           PORT09            278   2.480000
 9214     1683424    PLANT03           PORT09            317   1.960000

 [9215 rows x 14 columns],
      Carrier orig_port_cd dest_port_cd  minm_wgh_qty  max_wgh_qty svc_cd  \
 0     V444_6       PORT08       PORT09         250.0       499.99    DTD
 1     V444_6       PORT08       PORT09          65.0        69.99    DTD
 2     V444_6       PORT08       PORT09          60.0        64.99    DTD
 3     V444_6       PORT08       PORT09          50.0        54.99    DTD
 4     V444_6       PORT08       PORT09          35.0        39.99    DTD
 ...      ...          ...          ...           ...          ...    ...
 1535  V444_8       PORT03       PORT09           0.0        99.99    DTD
 1536  V444_8       PORT03       PORT09         500.0      1999.99    DTD
 1537  V444_8       PORT03       PORT09         250.0       499.99    DTD
 1538  V444_8       PORT03       PORT09        2000.0     99999.99    DTD
 1539  V444_8       PORT03       PORT09         100.0       249.99    DTD

       minimum cost    rate mode_dsc  tpt_day_cnt Carrier type
 0          43.2272  0.7132   AIR               2  V88888888_0
 1          43.2272  0.7512   AIR               2  V88888888_0
 2          43.2272  0.7892   AIR               2  V88888888_0
 3          43.2272  0.8272   AIR               2  V88888888_0
 4          43.2272  1.0552   AIR               2  V88888888_0
 ...            ...     ...      ...          ...          ...
 1535       29.3392  0.4116   AIR               0  V88888888_0
 1536       29.3392  0.3112   AIR               0  V88888888_0
 1537       29.3392  0.4116   AIR               0  V88888888_0
 1538       29.3392  0.3112   AIR               0  V88888888_0
 1539       29.3392  0.4116   AIR               0  V88888888_0

 [1540 rows x 11 columns],
          WH  Cost/unit
 0   PLANT15   1.415063
 1   PLANT17   0.428947
 2   PLANT18   2.036254
 3   PLANT05   0.488144
 4   PLANT02   0.477504
 5   PLANT01   0.566976
 6   PLANT06   0.554088
 7   PLANT10   0.493582
 8   PLANT07   0.371424
 9   PLANT14   0.634330
 10  PLANT16   1.919808
 11  PLANT12   0.773132
 12  PLANT11   0.555247
 13  PLANT09   0.465071
 14  PLANT03   0.517502
 15  PLANT13   0.469707
 16  PLANT19   0.639763
 17  PLANT08   0.522857
 18  PLANT04   0.428503,
    Plant ID  Daily Capacity
 0   PLANT15               11
 1   PLANT17                8
 2   PLANT18              111
 3   PLANT05              385
 4   PLANT02              138
 5   PLANT01             1070
 6   PLANT06               49
 7   PLANT10              118
 8   PLANT07              265
 9   PLANT14              549
 10  PLANT16              457
 11  PLANT12              209
 12  PLANT11              332
 13  PLANT09               11
 14  PLANT03             1013
 15  PLANT13              490
 16  PLANT19                7
 17  PLANT08               14
 18  PLANT04              554,
      Plant Code  Product ID
 0       PLANT15     1698815
 1       PLANT17     1664419
 2       PLANT17     1664426
 3       PLANT17     1672826
 4       PLANT17     1674916
 ...         ...         ...
 2031    PLANT04     1699951
 2032    PLANT04     1699952
 2033    PLANT04     1699953
 2034    PLANT04     1699954
 2035    PLANT04     1699974

 [2036 rows x 2 columns],
    Plant Code                Customers
 0     PLANT02        V5555555555555_16
 1     PLANT02      V555555555555555_29
 2     PLANT02             V555555555_3
 3     PLANT02        V55555555555555_8
 4     PLANT02              V55555555_9
 5     PLANT02                V55555_10
 6     PLANT02              V55555555_5
 7     PLANT06      V555555555555555_18
 8     PLANT06                V55555_10
 9     PLANT10      V555555555555555_29
 10    PLANT10               V555555_34
 11    PLANT10  V5555555555555555555_54
 12    PLANT10                V55555_10
 13    PLANT11  V5555555555555555555_54,
    Plant Code    Port
 0     PLANT01  PORT01
 1     PLANT01  PORT02
 2     PLANT02  PORT03
 3     PLANT03  PORT04
 4     PLANT04  PORT05
 5     PLANT05  PORT06
 6     PLANT06  PORT06
 7     PLANT07  PORT01
 8     PLANT07  PORT02
 9     PLANT08  PORT04
 10    PLANT09  PORT04
 11    PLANT10  PORT01
 12    PLANT10  PORT02
 13    PLANT11  PORT04
 14    PLANT12  PORT04
 15    PLANT13  PORT04
 16    PLANT14  PORT07
 17    PLANT15  PORT08
 18    PLANT16  PORT09
 19    PLANT17  PORT10
 20    PLANT18  PORT11
 21    PLANT19  PORT04]

In [6]:
dfs[0].fillna(0, inplace=True)
dfs[1].fillna(0, inplace=True)
dfs[2].fillna(0, inplace=True)
dfs[3].fillna(0, inplace=True)
dfs[4].fillna(0, inplace=True)
dfs[5].fillna(0, inplace=True)
dfs[6].fillna(0, inplace=True)

In [7]:
sheet_names = ['OrderList', 'FreightRates', 'WhCosts', 'WhCapacities', 'ProductsPerPlant', 'VmiCustomers', 'PlantPorts']
for sheet in sheet_names:
    df = xls.parse(sheet)
    print(f"Columns in {sheet}: {df.columns.tolist()}\n")

Columns in OrderList: ['Order ID', 'Order Date', 'Origin Port', 'Carrier', 'TPT', 'Service Level', 'Ship ahead day count', 'Ship Late Day count', 'Customer', 'Product ID', 'Plant Code', 'Destination Port', 'Unit quantity', 'Weight']

Columns in FreightRates: ['Carrier', 'orig_port_cd', 'dest_port_cd', 'minm_wgh_qty', 'max_wgh_qty', 'svc_cd', 'minimum cost', 'rate', 'mode_dsc', 'tpt_day_cnt', 'Carrier type']

Columns in WhCosts: ['WH', 'Cost/unit']

Columns in WhCapacities: ['Plant ID', 'Daily Capacity ']

Columns in ProductsPerPlant: ['Plant Code', 'Product ID']

Columns in VmiCustomers: ['Plant Code', 'Customers']

Columns in PlantPorts: ['Plant Code', 'Port']

In [8]:
dfs[0] = pd.get_dummies(dfs[0], columns=['Order ID', 'Order Date', 'Origin Port', 'Carrier', 'TPT', 'Service Level', 'Ship ahead day count', 'Ship Late Day count', 'Customer', 'Product ID', 'Plant Code', 'Destination Port', 'Unit quantity', 'Weight'])
dfs[1] = pd.get_dummies(dfs[1], columns=['Carrier', 'orig_port_cd', 'dest_port_cd', 'minm_wgh_qty', 'max_wgh_qty', 'svc_cd', 'minimum cost', 'rate', 'mode_dsc', 'tpt_day_cnt', 'Carrier type'])
dfs[2] = pd.get_dummies(dfs[2], columns=['WH', 'Cost/unit'])
dfs[3] = pd.get_dummies(dfs[3], columns=['Plant ID', 'Daily Capacity '])
dfs[4] = pd.get_dummies(dfs[4], columns=['Plant Code', 'Product ID'])
dfs[5] = pd.get_dummies(dfs[5], columns=['Plant Code', 'Customers'])
dfs[6] = pd.get_dummies(dfs[6], columns=['Plant Code', 'Port'])

In [9]:
import numpy as np

In [11]:
sheet_names = ['OrderList', 'FreightRates', 'WhCosts', 'WhCapacities', 'ProductsPerPlant', 'VmiCustomers', 'PlantPorts']
columns = {
    'OrderList': ['Ship ahead day count', 'Ship Late Day count', 'Unit quantity', 'Weight'],
    'FreightRates': ['minm_wgh_qty', 'max_wgh_qty', 'minimum cost', 'rate', 'tpt_day_cnt'],
    'WhCosts': ['Cost/unit'],
    'WhCapacities': ['Daily Capacity '],
    'ProductsPerPlant': ['Product ID'],
}
for sheet in sheet_names:
    df = xls.parse(sheet)
    
    for column in columns.get(sheet, []):
        # Calculate IQR
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_limit = Q1 - 1.5 * IQR
        upper_limit = Q3 + 1.5 * IQR
        
        df = df[(df[column] >= lower_limit) & (df[column] <= upper_limit)]
        
    print(f"Cleaned DataFrame for {sheet}:\n{df}\n")

Cleaned DataFrame for OrderList:
          Order ID Order Date Origin Port Carrier  TPT Service Level  \
0     1.447296e+09 2013-05-26      PORT09   V44_3    1           CRF
3     1.447364e+09 2013-05-26      PORT09   V44_3    1           CRF
7     1.447158e+09 2013-05-26      PORT09   V44_3    1           CRF
11    1.447171e+09 2013-05-26      PORT09   V44_3    1           CRF
13    1.447257e+09 2013-05-26      PORT09   V44_3    1           CRF
...            ...        ...         ...     ...  ...           ...
9210  1.447305e+09 2013-05-26      PORT04  V444_1    1           DTD
9211  1.447319e+09 2013-05-26      PORT04  V444_1    1           DTD
9212  1.447322e+09 2013-05-26      PORT04  V444_1    1           DTD
9213  1.447145e+09 2013-05-26      PORT04  V444_1    1           DTD
9214  1.447328e+09 2013-05-26      PORT04  V444_1    1           DTD

      Ship ahead day count  Ship Late Day count           Customer  \
0                        3                    0          V55555_53
3                        3                    0          V55555_53
7                        3                    0          V55555_53
11                       3                    0          V55555_53
13                       3                    0          V55555_53
...                    ...                  ...                ...
9210                     5                    0  V55555555555555_8
9211                     5                    0  V55555555555555_8
9212                     5                    0  V55555555555555_8
9213                     5                    0  V55555555555555_8
9214                     5                    0  V55555555555555_8

      Product ID Plant Code Destination Port  Unit quantity     Weight
0        1700106    PLANT16           PORT09            808  14.300000
3        1700106    PLANT16           PORT09            847  16.160000
7        1700106    PLANT16           PORT09            427   2.860000
11       1700106    PLANT16           PORT09            798  14.300000
13       1697884    PLANT16           PORT09            280   7.800000
...          ...        ...              ...            ...        ...
9210     1683388    PLANT03           PORT09            339   2.354118
9211     1683388    PLANT03           PORT09            339   2.354118
9212     1683388    PLANT03           PORT09            245   0.294265
9213     1683430    PLANT03           PORT09            278   2.480000
9214     1683424    PLANT03           PORT09            317   1.960000

[6729 rows x 14 columns]

Cleaned DataFrame for FreightRates:
     Carrier orig_port_cd dest_port_cd  minm_wgh_qty  max_wgh_qty svc_cd  \
175   V444_5       PORT06       PORT09          0.00        99.99    DTD
185   V444_0       PORT04       PORT09          0.00        99.99    DTD
193   V444_0       PORT04       PORT09          0.00        99.99    DTP
197   V444_2       PORT02       PORT09          0.00        99.99    DTD
199   V444_5       PORT02       PORT09          0.00        99.99    DTD
...      ...          ...          ...           ...          ...    ...
1477  V444_4       PORT05       PORT09         70.01        70.50    DTD
1478  V444_4       PORT05       PORT09         70.51        71.00    DTD
1479  V444_4       PORT05       PORT09         71.01        71.50    DTD
1480  V444_4       PORT05       PORT09         71.51        72.00    DTD
1483  V444_4       PORT05       PORT09         73.01        73.50    DTD

      minimum cost    rate mode_dsc  tpt_day_cnt  Carrier type
175         7.4272  0.0848   AIR               3   V88888888_0
185         3.4552  0.0824   AIR               3   V88888888_0
193         1.4992  0.0484   AIR               3   V88888888_0
197         9.0272  0.0888   AIR               3   V88888888_0
199         7.1872  0.0856   AIR               3   V88888888_0
...            ...     ...      ...          ...           ...
1477       15.6184  8.6184   AIR               1  V888888883_1
1478       15.6752  4.6752   AIR               1  V888888883_1
1479       15.7320  6.7320   AIR               1  V888888883_1
1480       15.7888  4.7888   AIR               1  V888888883_1
1483       15.9592  5.9592   AIR               1  V888888883_1

[1091 rows x 11 columns]

Cleaned DataFrame for WhCosts:
         WH  Cost/unit
1   PLANT17   0.428947
3   PLANT05   0.488144
4   PLANT02   0.477504
5   PLANT01   0.566976
6   PLANT06   0.554088
7   PLANT10   0.493582
8   PLANT07   0.371424
9   PLANT14   0.634330
11  PLANT12   0.773132
12  PLANT11   0.555247
13  PLANT09   0.465071
14  PLANT03   0.517502
15  PLANT13   0.469707
16  PLANT19   0.639763
17  PLANT08   0.522857
18  PLANT04   0.428503

Cleaned DataFrame for WhCapacities:
   Plant ID  Daily Capacity
0   PLANT15               11
1   PLANT17                8
2   PLANT18              111
3   PLANT05              385
4   PLANT02              138
5   PLANT01             1070
6   PLANT06               49
7   PLANT10              118
8   PLANT07              265
9   PLANT14              549
10  PLANT16              457
11  PLANT12              209
12  PLANT11              332
13  PLANT09               11
14  PLANT03             1013
15  PLANT13              490
16  PLANT19                7
17  PLANT08               14
18  PLANT04              554

Cleaned DataFrame for ProductsPerPlant:
     Plant Code  Product ID
0       PLANT15     1698815
1       PLANT17     1664419
2       PLANT17     1664426
3       PLANT17     1672826
4       PLANT17     1674916
...         ...         ...
2031    PLANT04     1699951
2032    PLANT04     1699952
2033    PLANT04     1699953
2034    PLANT04     1699954
2035    PLANT04     1699974

[1893 rows x 2 columns]

Cleaned DataFrame for VmiCustomers:
   Plant Code                Customers
0     PLANT02        V5555555555555_16
1     PLANT02      V555555555555555_29
2     PLANT02             V555555555_3
3     PLANT02        V55555555555555_8
4     PLANT02              V55555555_9
5     PLANT02                V55555_10
6     PLANT02              V55555555_5
7     PLANT06      V555555555555555_18
8     PLANT06                V55555_10
9     PLANT10      V555555555555555_29
10    PLANT10               V555555_34
11    PLANT10  V5555555555555555555_54
12    PLANT10                V55555_10
13    PLANT11  V5555555555555555555_54

Cleaned DataFrame for PlantPorts:
   Plant Code    Port
0     PLANT01  PORT01
1     PLANT01  PORT02
2     PLANT02  PORT03
3     PLANT03  PORT04
4     PLANT04  PORT05
5     PLANT05  PORT06
6     PLANT06  PORT06
7     PLANT07  PORT01
8     PLANT07  PORT02
9     PLANT08  PORT04
10    PLANT09  PORT04
11    PLANT10  PORT01
12    PLANT10  PORT02
13    PLANT11  PORT04
14    PLANT12  PORT04
15    PLANT13  PORT04
16    PLANT14  PORT07
17    PLANT15  PORT08
18    PLANT16  PORT09
19    PLANT17  PORT10
20    PLANT18  PORT11
21    PLANT19  PORT04

In [16]:
for sheet in sheet_names:
    df = xls.parse(sheet)
    df.to_csv(f'preprocessed_{sheet}.csv', index=False)

In [14]:
#pip install xlsxwriter

Collecting xlsxwriterNote: you may need to restart the kernel to use updated packages.

  Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
     -------------------------------------- 159.9/159.9 kB 3.2 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0